.login-signup{
    background-image: url('../../assets/images/databear.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}