.nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem 0 4rem;
    height: 5.5rem;

    .logo a{
        text-decoration: none;
        color: #fff;
    }

    &__list{
        list-style: none;
        display: flex;
    }

    &__item{
        margin-left: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
    }

    &__link{
        text-decoration: none;
        color: #fff;

        &--active{
            background-color: #fff;
            color: rgba(0, 0, 0, .7);
            border-radius: 1px;
            padding: .5rem 1.3rem .5rem 1.3rem;
            transition: all .2s;

            &:hover{
                color: #000;
            }
        }
    }
}